<ion-view id="agenda" view-title="Agenda">
    <ion-nav-bar class="bar-positive-900">
        <ion-nav-back-button class="no-text">
        </ion-nav-back-button>
        <ion-nav-buttons side="secondary">
            <div class="buttons">
                <a class="button button-positive button-rounded ion-refresh" ng-click="refreshAgenda()"></a>
            </div>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content scroll="false">
        <calendar calendar-mode="calendar.mode" event-source="eventSource" starting-day-week="startingDayWeek"
                  format-hour-column="HH:mm" title-changed="onViewTitleChanged(title)"
                  after-render="makeCalendarClickable"></calendar>
    </ion-content>
</ion-view>
<!--weekview-normal-event-template-url="weekviewNormalEventTemplateUrl"-->
