<ion-view view-title="Connectez-vous à votre compte">
    <ion-content>
        <div class="row">
            <div id="logging" class="col col-50 col-offset-25">
                <div class="card">
                    <div class="item">
                        <h2>Connectez-vous à votre compte</h2>
                    </div>
                    <span class="item item-divider" style="min-height: 0px; height: 0px;"></span>

                    <form ng-submit="logIn()">
                        <div class="list">
                            <label class="item item-input item-stacked-label">
                                <span class="input-label">Mail</span>
                                <input type="text" placeholder="Votre mail" ng-model="user.email">
                            </label>
                            <label class="item item-input item-stacked-label">
                                <span class="input-label">Mot de passe</span>
                                <input type="password" placeholder="Votre mot de passe" ng-model="user.password">
                            </label>
                        </div>
                        <div class="item">
                            <input class="button button-block button-positive" type="submit" value="Connexion"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
