<ion-view view-title="Workshops">
    <!--<ion-content class="padding">
        <div class="row">
            <div class="col">
                <a ng-repeat="workshop in workshopSlice1" href="#/tab/workshops/{{workshop._id}}">
                    <img src="{{workshop.photo}}">
                    <p>{{workshop.title}}</p>
                </a>
            </div>
            <div class="col">
                <a ng-repeat="workshop in workshopSlice2" href="#/tab/workshops/{{workshop._id}}">
                    <img src="{{workshop.photo}}">
                    <p>{{workshop.title}}</p>
                </a>
            </div>
        </div>
    </ion-content>-->


    <ion-content class="animate-fade-slide-in">

        <div class="row">
            <div class="col">
                <h3 class="main-title">Vos instances d'ateliers</h3>
            </div>
        </div>
        <div class="row" id="workshops-list">
            <div ng-repeat="workshop in workshops" class="col col-33">
                <a  href="#/tab/workshops/{{workshop._id}}" class="card card-gallery material-fix">
                    <div class="ink light calm-bg">
                        <h4 class="workshop-title">{{workshop.title}}</h4>
                        <img class="full-image" src="{{workshop.photo}}">
                    </div>
                </a>
            </div>
            <!--
            <div class="col col-33">
                <a ng-repeat="workshop in workshopSlice2" href="#/tab/workshops/{{workshop._id}}" class="card card-gallery material-fix">
                    <div class="ink light calm-bg">
                        <h4 class="workshop-title">{{workshop.title}}</h4>
                        <img class="full-image" src="{{workshop.photo}}">
                    </div>
                </a>
            </div>
        </div>



        <!--
        <div class="list half" ng-repeat="workshopPair in workshopsGrouped">
            <a href="#/tab/workshops/{{workshopPair[0]._id}}" class="card card-gallery item item-text-wrap">
                <div class="ink light calm-bg">
                    <h2>{{workshopPair[0].title}}</h2>
                    <img class="full-image" src="{{workshopPair[0].photo}}">
                </div>
            </a>
            <a ng-if="workshopPair[1] != undefined" href="#/tab/workshops/{{workshopPair[1]._id}}" class="card card-gallery item item-text-wrap">
                <div class="ink light calm-bg">
                    <h2>{{workshopPair[1].title}}</h2>
                    <img class="full-image" src="{{workshopPair[1].photo}}">
                </div>
            </a>
        </div>
        -->

        <!--
        <div class="list half">
            <a href="#/tab/workshops/{{workshops.data[0]._id}}" class="card card-gallery item item-text-wrap">
                <div class="ink light calm-bg">
                    <h2>{{workshops.data[0].title}}</h2>
                    <img class="full-image" src="{{workshops.data[0].photo}}">
                </div>
            </a>
            <a href="#/tab/workshops/{{workshops.data[1]._id}}" class="card card-gallery item item-text-wrap">
                <div class="ink light calm-bg">
                    <h2>{{workshops.data[1].title}}</h2>
                    <img class="full-image" src="{{workshops.data[1].photo}}">
                </div>
            </a>
        </div>
        <div class="list half">
            <a href="#/tab/workshops/{{workshops.data[2]._id}}" class="card card-gallery item item-text-wrap">
                <div class="ink light calm-bg">
                    <h2>{{workshops.data[2].title}}</h2>
                    <img class="full-image" src="{{workshops.data[2].photo}}">
                </div>
            </a>
            <a href="#/tab/workshops/{{workshops.data[3]._id}}" class="card card-gallery item item-text-wrap">
                <div class="ink light calm-bg">
                    <h2>{{workshops.data[3].title}}</h2>
                    <img class="full-image" src="{{workshops.data[3].photo}}">
                </div>
            </a>
        </div>
        -->
    </ion-content>

</ion-view>
