<ion-view view-title="Workshops">

    <ion-content class="animate-fade-slide-in">

        <div class="row">
            <div class="col">
                <h3 class="main-title">Vos instances d'ateliers</h3>
            </div>
        </div>
        <div class="row" id="workshops-list">
            <div ng-repeat="workshop in workshops" class="col col-33">
                <a  href="#/tab/workshops/{{workshop._id}}" class="card card-gallery material-fix">
                    <div class="ink light calm-bg">
                        <h4 class="workshop-title">{{workshop.title}}</h4>
                        <img class="full-image" src="{{workshop.photo}}">
                    </div>
                </a>
            </div>
        </div>
    </ion-content>

</ion-view>
