<ion-view view-title="{{workshop.title}}">
    <ion-content class="padding">

        <div>
            <h3>Global Timer</h3>
            <div ng-if="!isLate">{{humanizeDurationTimer(globalTimer,'s')}}</div>
            <div ng-if="isLate">
                <span>{{humanizeDurationTimer(overallTime,'s')}} </span>
                <span style="color: red;">+ {{humanizeDurationTimer(globalTimer,'s')}}</span>
            </div>
        </div>

        <div class="progress-wrapper">
            <div class="progress">
                {{humanizeDurationTimer(timer,'s')}}
            </div>
            <round-progress max="timeForTimer" current="timer" clockwise="false" color="#45ccce" class="text-center"></round-progress>
        </div>


        <div ng-if="!timerIsSync && !iterationRunning && !doneWorkshop">
            <button class="button button-positive button-rounded button-block" ng-click='synchronizeTimer()'>
                Connect your workshop
            </button>
        </div>
        <div ng-if="timerIsSync && !iterationRunning && !doneWorkshop">
            <button class="button button-balanced button-rounded button-block" ng-click="startIteration()">
                Start workshop
            </button>
        </div>
        <div ng-if="doneWorkshop">
            <a class="button button-royal button-rounded button-block" href="#/tab/workshops">
                The END (should bind this button to something else later and should contain a text shorter than this because it is a bit too long)
            </a>
        </div>

    </ion-content>
</ion-view>