<ion-modal-view class="modal">
    <ion-header-bar class="bar-positive-900">
        <div class="timer-in-conductor">
            <span>Chronomètre global :</span>
            <span ng-if="!isLate">{{humanizeDurationTimer(theoreticalGlobalTimer,'s')}}</span>
            <span ng-if="isLate">
                <span>{{humanizeDurationTimer(overallTime,'s')}} </span>
                <span style="color: #ff1212;">+ {{humanizeDurationTimer(theoreticalGlobalTimer,'s')}}</span>
            </span>
            <br/>
            <span>Chronomètre global actuel :</span>
            <span ng-if="actualGlobalTimer > theoreticalGlobalTimer">
                <span style="color: #ff1212;">{{humanizeDurationTimer(actualGlobalTimer,'s')}} (+ {{humanizeDurationTimer(actualGlobalTimer - theoreticalGlobalTimer,'s')}})</span>
            </span>
            <span ng-if="actualGlobalTimer <= theoreticalGlobalTimer">
                <span style="color: #21ff5f;">{{humanizeDurationTimer(actualGlobalTimer,'s')}}</span>
            </span>
        </div>
        <div class="title">
            <h1 class="title" style="color: white">Conducteur de l'atelier</h1>
        </div>
        <div class="buttons">
            <a id="closeModal" class="button button-positive button-rounded button-block" ng-click="closeModal()">Fermer</a>
        </div>
    </ion-header-bar>
    <ion-content scroll="true">
        <div id="table">
            <div class="row header">
                <div class="col col-2 text-center"></div>
                <div class="col col-2 text-center"></div>
                <div class="col col-10 text-center">Timing</div>
                <div class="col col-10 text-center">Phase</div>
                <div class="col text-center">Description</div>
                <div class="col col-20 text-center">Modifier</div>
            </div>
            <div class="row" ng-repeat="(i, step) in workshop.steps" on-swipe-right="swipeToDelete({{i}})" on-swipe-left="swipeToDelete({{i}})">
                <div class="col col-2 text-center no-padding step-{{i}}" style="background-color: #fff">
                    <div class="chevron"><img class="img-chevron" src="/android_asset/www/img/chevron.png"> </div>
                </div>
                <!-- 1st col -->
                <div class="col col-2 text-center no-padding step-{{i}}">
                    <!-- If step is over -->
                    <div ng-if="roundNum >= (i+1)" class="stepDoneFirst line"></div>
                    <!-- Current step -->
                    <div ng-if="roundNum == (i)" class="backgroundStepColor line">
                        <!-- if we are late -->
                        <div ng-if="actualGlobalTimer > theoreticalGlobalTimer + 1" class="currentStepLate"></div>
                        <!-- if we are in time -->
                        <div ng-if="actualGlobalTimer <= theoreticalGlobalTimer + 1" class="padding-5"></div>
                    </div>
                    <!-- Next steps -->
                    <div ng-if="roundNum < (i)" class="backgroundStepColor line">
                        <!-- if we are late -->
                        <div ng-if="actualGlobalTimer > theoreticalGlobalTimer + 1" class="stepLate"></div>
                        <!-- if we are in time -->
                        <div ng-if="actualGlobalTimer <= theoreticalGlobalTimer + 1" class="stepInTime"></div>
                    </div>
                </div>
                <!-- 2nd col -->
                <div class="col col-10 text-center step-{{i}} no-padding">
                    <div class="padding-5" ng-class="{'stepDone': roundNum >= (i+1)}">{{timingArray[$index]}}</div>
                </div>
                <!-- 3rd col -->
                <div class="col col-10 text-center step-{{i}} no-padding">
                    <div class="padding-5" ng-class="{'stepDone': roundNum >= (i+1)}">{{step.title}}<br />{{step.duration.practicalMinutesDisplay}}</div>
                </div>
                <!-- 4th col -->
                <div ng-class="{'stepDoneText': roundNum >= (i+1)}" class="col step-{{i}}" ng-bind-html="step.description"></div>
                <!-- 5th col -->
                <div class="col col-20 text-center no-padding step-{{i}}">
                    <div ng-if="roundNum >= (i+1)" class="stepDone"></div>
                    <div ng-if="$index < stepsLength -1" class="padding-5">
                        <button class="button button-positive button-rounded" ng-click="updateIterationsTimes($index,30)" style="margin-bottom: 5px;   width: 90px; padding: 0 20px;">
                            + 30 s
                        </button>
                        <button class="button button-positive button-rounded" ng-click="updateIterationsTimes($index,-30)" style="  width: 90px; padding: 0 20px;">
                            - 30 s
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-modal-view>