<ion-view id="workshop" view-title="{{workshop.title}}">
    <ion-content scroll="false">

        <div id="first-row" class="row">
            <div class="col col-100">
                <div id="actual-iteration" class="card">
                    <div class="item item-divider">
                        <h2>{{currentStep.title}}</h2>
                    </div>
                    <div class="item item-text-wrap" ng-bind-html="currentStep.description">
                    </div>
                </div>
                <div class="row" id="first-row-in">
                    <div class="col col-20">
                    <div class="item item-divider">
                        <h2>Next iteration : </h2>
                    </div>
                </div>
                    <div class="col col-80">
                        <div class="card">
                            <div class="item item-divider">
                                <h2>{{nextStep.title}}</h2>
                            </div>
                            <div class="item item-text-wrap" ng-bind-html="nextStep.description">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row second-row">

            <div id="global-timer" class="col col-33">
                <div id="global-timer-in">
                    <h3>Global Timer</h3>
                    <div ng-if="!isLate">{{humanizeDurationTimer(globalTimer,'s')}}</div>
                    <div ng-if="isLate">
                        <span>{{humanizeDurationTimer(overallTime,'s')}} </span>
                        <span style="color: red;">+ {{humanizeDurationTimer(globalTimer,'s')}}</span>
                    </div>
                </div>
            </div>


            <div id="timer" class="col col-33">
                <div class="progress-wrapper">
                    <div class="progress">
                        {{humanizeDurationTimer(timer,'s')}}
                    </div>
                    <round-progress max="timeForTimer" current="timer" clockwise="false" color="#45ccce" class="text-center"></round-progress>
                </div>
            </div>

            <div id="timer-buttons" class="col col-33">
                <div id="timer-buttons-in">
                    <div ng-if="!timerIsSync && !iterationRunning && !doneWorkshop">
                        <button class="button button-positive button-rounded button-block" ng-click='synchronizeTimer()'>
                            Connect your workshop
                        </button>
                    </div>
                    <div ng-if="timerIsSync && !iterationRunning && !doneWorkshop">
                        <button class="button button-balanced button-rounded button-block" ng-click="startIteration()">
                            Start iteration
                        </button>
                    </div>
                    <div ng-if="timerIsSync && iterationRunning && !doneWorkshop">
                        <div class="row">
                            <div class="col">
                                <button class="button button-balanced button-rounded button-block" ng-click="increaseTimer(30)">
                                    + 30 s
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button class="button button-balanced button-rounded button-block" ng-click="decreaseTimer(30)">
                                    - 30 s
                                </button>
                            </div>
                        </div>
                    </div>
                    <div ng-if="doneWorkshop">
                        <a class="button button-royal button-rounded button-block" href="#/tab/workshops">
                            The END (should bind this button to something else later and should contain a text shorter than this because it is a bit too long)
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>