/* Empty. Add your own CSS if you like */
/*progress time text on middle of circle*/
.progress-wrapper{
    position: relative;
    margin: auto;
    font-size: 21px;
}
.progress{
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 9em;
    font-size:1em;
    text-align: center;
    font-weight: 100;
}

.material-fix{
    text-decoration: none;
}

.material-fix h2{
    margin: 0.3em;
}

/* WORKSHOP */
#workshop .scroll {
    min-height: 100% !important;
    height: 100% !important;
}

#workshop #first-row {
    height: 60%;
    overflow-y: hidden;
    padding: 0px 0px 0px 0px;
    margin-top: 0px;
}

#workshop .second-row {
    height: 40%;
    overflow-y: scroll;
    padding: 0px 0px 0px 0px;
    margin-top: 0px;
}


div#global-timer {
    /*
    position: relative;
    padding: 0;
    */
    display: flex;
}

div#global-timer-in {
    /*
    position: absolute;
    bottom: 0;
    border-top: 2px solid black;
    border-right: 2px solid black;
    padding: 30px 80px 30px 30px;
    */
    margin: auto;
    font-size: 20px;
}

#timer {
    display: flex;
}

#timer-buttons {
    display: flex;
}

#timer-buttons-in {
    margin: auto;
}

#workshop .item.item-divider {
    height: initial;
}

#workshop .item.item-text-wrap {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
}

#first-row .item h2 {
    font-size: 20px;
}

#first-row .item.item-divider {
    padding-bottom: 0px;
}

#first-row ol, #first-row ul {
    margin: 5px;
}

#workshop #first-row-in {
    padding: 0;
}

div#actual-iteration::-webkit-scrollbar {
    display: none;
}

.second-row::-webkit-scrollbar {
    display: none;
}

div#actual-iteration {
    max-height: 70%;
    overflow-y: scroll;
}

#first-row-in .col.col-80 {
    overflow-y: scroll;
}

#first-row-in .col.col-80::-webkit-scrollbar {
    display: none;
}

a#conducteur {
    padding: 10px 10px;
    min-height: 0;
    height: initial;
    margin: 0;
    letter-spacing: initial;
    line-height: 1;
    white-space: initial;
    margin-top: 10px;
}

#workshop #first-row .col-20 .item-divider h2 {
    float: right;
}

#workshop #first-row .col-20 .item-divider a {
    float: left;
}

#nextIteration {
    position: relative;
    top: 26px
}

/* Workshop list */
.main-title {
   margin-left: 20px;
    margin-bottom: 0;
    margin-top: 10px !important;
}

.workshop-title {
    padding-left: 10px;
}

#workshops-list {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

p.date {
    position: absolute;
    bottom: 0px;
    padding: 6px 25px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    margin: 5px;
    width: calc(100% - 10px);
    font-size: 16px;
    border-radius: 2px;
}

.materiel .popup {
    width: 50%;
}

.materiel .popup-buttons {
    width: 50%;
    margin-left: 25%;
}

/* #1a242f
#2c3e50
*/

/* Theme colors */
.bar .button-positive-900, .bar .button-positive-900.activated, .bar .button-positive-900:active, .bar .button-positive-900:hover, .bar-positive-900, .bar-positive-900.activated, .bar-positive-900:active, .bar-positive-900:hover, .button-bar-positive-900, .button-bar-positive-900.activated, .button-bar-positive-900:active, .button-bar-positive-900:hover, .button-positive-900, .button-positive-900.activated, .button-positive-900:active, .button-positive-900:hover, .header-positive-900, .header-positive-900.activated, .header-positive-900:active, .header-positive-900:hover, .positive-900-bg, .positive-900-bg.activated, .positive-900-bg:active, .positive-900-bg:hover, .positive-900-border, .positive-900-border.activated, .positive-900-border:active, .positive-900-border:hover {
    background-color: #2c3e50 !important;
}

.bar .button-calm, .bar-calm, .button-bar-calm, .button-calm, .calm-bg, .calm-border, .header-calm {
    background-color: #2c3e50 !important;
}
 .bar .button-calm.activated, .bar .button-calm:active, .bar .button-calm:hover, .bar-calm.activated, .bar-calm:active, .bar-calm:hover, .button-bar-calm.activated, .button-bar-calm:active, .button-bar-calm:hover, .button-calm.activated, .button-calm:active, .button-calm:hover, .calm-bg.activated, .calm-bg:active, .calm-bg:hover, .calm-border.activated, .calm-border:active, .calm-border:hover, .header-calm.activated, .header-calm:active, .header-calm:hover {
    background-color: #1a242f !important;
}

.button.button-positive {
    background-color: #2c3e50 !important;
}

.bar .button-positive, .bar .button-positive.activated, .bar .button-positive:active, .bar .button-positive:hover, .bar-positive, .bar-positive.activated, .bar-positive:active, .bar-positive:hover, .button-bar-positive, .button-bar-positive.activated, .button-bar-positive:active, .button-bar-positive:hover, .button-positive, .button-positive.activated, .button-positive:active, .button-positive:hover, .header-positive, .header-positive.activated, .header-positive:active, .header-positive:hover, .positive-bg, .positive-bg.activated, .positive-bg:active, .positive-bg:hover, .positive-border, .positive-border.activated, .positive-border:active, .positive-border:hover {
    background-color: #1a242f !important;
}

#timer path {
    stroke: #2c3e50 !important;
}

.button-disabled {
    background-color : #969696;
    color: #fff;
}

.button-disabled:hover {
    background-color : #969696;
    color: #fff;
}

/* Conducteur */
#table .header .col {
    background-color:#b7b7b7;
}

#table .col {
    border: solid 1px grey;
    border-bottom-style: none;
    border-right-style: none;
}

#table .col:last-child {
    border-right: solid 1px grey;
}

#table .row:last-child .col {
    border-bottom: solid 1px grey;
}

.modal{
    top: 0 ;
    bottom: 0 ;
    left: 0 ;
    right: 0 ;
    width: 100% ;
}

a#closeModal {
    position: absolute;
    top: -11px;
    right: 5px;
    max-width: initial;
    width: initial;
    line-height: 36px;
}

.stepDone {
    background-color: lightgrey;
    color: grey;
    height: 100%;
}

.stepDoneFirst {
    background-color: grey;
    height: 100%;
}

.stepDoneText {
    padding: 5px;
    background-color: lightgrey;
    color: grey;
}

.stepLate {
    background-color: #e00000;
    height: 100%;
    padding: 5px;
}

.stepInTime {
    background-color: #228B22;
    height: 100%;
    padding: 5px;
}

.currentStepLate {
    background-color: #ffa704;
    height: 100%;
    padding: 5px;
}

.stepSwipe {
    background-color: lightgrey;
    color: grey;
}

.stepSwipe div.line {
    background-color: grey;
}

.stepSwipe div .button-positive {
    background-color : #969696 !important;
    color: #fff;
}

.backgroundStepColor {
    height: 100%;
}

.padding-5 {
    padding: 5px;
}

.timer-in-conductor {
    font-size: 14px;
    margin-left: 10px;
    margin-top: 2px;
}

.hideButton30 {
    display: none !important;
}

.popup-head h3 {
    font-size: 20px;
}

.col-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 2%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 2%;
    -ms-flex: 0 0 2%;
    flex: 0 0 2%;
    max-width: 2%;
}

#table .col-2 {
    border: none;
}

#table .header .col-2 {
    background: none;
}

#table .row:last-child .col-2 {
    border-bottom: none;
}

.chevron {
    display: none;
    position: absolute;
}

.chevron img {
    width: 50px;
    position: relative;
    left: -15px;
    top: -10px;
}

div#table {
    font-size: 18px;
}

div#table .button {
    font-size: 14px;
}

.timer-in-conductor {
    font-size: 16px;
}

/* logging */
@media (max-width: 767px) {
    div#logging {
        max-width: 100% !important;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -moz-box-flex: 1;
        -moz-flex: 1;
        -ms-flex: 1;
        flex: 1;
        margin-left: initial;
    }
}

